h1{
	color: rgba(0, 200,100);
	/*
	border-color: purple;
	border-width: 5px;
	border-style: solid;
	*/
	border: 5px solid purple;
}
h4{
	background: rgb(255,100,50);
}
body{
	background: gree;
	/*background: url(http://wallpapercave.com/wp/Tb3g7Fv.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	*/
}